<!DOCTYPE html>
<html lang="ja">

<head>
  <title>
    yun
  </title>
  <meta charset="yun">
  <meta name="description" content="株式会社アイデンティティーはIT人材（エンジニア、クリエイター）に特化した求人広告媒体（braineer：ブレイナー）とエージェントサービスで企業のITエンジニア不足を解決します。">
  <meta name="keyword" content="アイデンティティー、IT人材総合支援会社、IT人材、ITエンジニア、エージェント、IT求人、braineer、コネクリ、派遣、中途、オンサイト">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://sun05.github.io/indentity_hp/public/stylesheets/style.css">
</head>

<body>
  <!-- スマホヘッダー -->
  <header class="l-header">
    <div class="l-header--sp">
      <div class="l-header--sp__bar">
        <a href="/">
          <h1 class="l-header--sp__logo">
            <img src="https://sun05.github.io/indentity_hp/public/images/identity.png" alt="株式会社アイデンティティー">
          </h1>
        </a>
        <button class="l-header--sp__menubutton">
          <i class="fa fa-bars"></i>
        </button>
      </div>
      <ul class="l-header--sp__menuList">
        <li><a class="l-header--sp__menuItem" href="#top">TOP<i class="fa fa-angle-right"></i></a></li>
        <li><a class="l-header--sp__menuItem" href="#service">SERVICE<i class="fa fa-angle-right"></i></a></li>
        <li><a class="l-header--sp__menuItem" href="#company">COMPANY<i class="fa fa-angle-right"></i></a></li>
        <li><a class="l-header--sp__menuItem" href="#contact">CONTACT<i class="fa fa-angle-right"></i></a></li>
        <li><a class="l-header--sp__menuItem" href="#recruit">RECRUIT<i class="fa fa-angle-right"></i></a></li>
        <li><a class="l-header--sp__menuItem" href="#member">MEMBER<i class="fa fa-angle-right"></i></a></li>
        <li><a class="l-header--sp__menuItem" href="#news">NEWS<i class="fa fa-angle-right"></i></a></li>
      </ul>
    </div>
  </header>
  <!-- PCヘッダー -->
  <header class="l-header">
    <div class="l-header--pc">
      <div class="l-header--pc__container">
        <a href="/">
          <h1 class="l-header--pc__logo"><img src="https://sun05.github.io/indentity_hp/public/images/identity.png" alt="株式会社アイデンティティー"></h1>
        </a>
        <ul class="l-header--pc__menuList">
          <li><a class="l-header--pc__menuItem active" href="#top">TOP</a>
            <div class="l-header--pc__menuItem__triangle active"></div>
          </li>
          <li><a class="l-header--pc__menuItem" href="#service">SERVICE</a>
            <div class="l-header--pc__menuItem__triangle"></div>
          </li>
          <li><a class="l-header--pc__menuItem" href="#company">COMPANY</a>
            <div class="l-header--pc__menuItem__triangle"></div>
          </li>
          <li><a class="l-header--pc__menuItem" href="#contact">CONTACT</a>
            <div class="l-header--pc__menuItem__triangle"></div>
          </li>
          <li><a class="l-header--pc__menuItem" href="#recruit">RECRUIT</a>
            <div class="l-header--pc__menuItem__triangle"></div>
          </li>
          <li><a class="l-header--pc__menuItem" href="#member">MEMBER</a>
            <div class="l-header--pc__menuItem__triangle"></div>
          </li>
          <li><a class="l-header--pc__menuItem l-header--pc__menuItem--last" href="#news">NEWS</a>
            <div class="l-header--pc__menuItem__triangle"></div>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <section id="top" class="p-jumbotron">
    <div class="p-jumbotron__cover">
    </div>
    <div class="p-jumbotron__content">
      <h2 class="p-jumbotron__image">
      <img class="p-jumbotron__japanese" src="https://sun05.github.io/indentity_hp/public/images/jumbotron.png" alt="一人一人がブランド">
      <img class="p-jumbotron__english" src="https://sun05.github.io/indentity_hp/public/images/jumbotron_english.png" alt="i want to value the connections i have with people">
    </h2>
    </div>
  </section>
  <!-- ミッション＆ビジョン -->
  <section class="p-philosophy">
    <div class="p-philosophy__content">
      <div class="p-philosophy__item c-contentLayout c-contentLayout--half">
        <h2 class="p-philosophy__title">
        MISSION<span class="p-philosophy__subTitle"> / ミッション</span>
      </h2>
        <p class="p-philosophy__desc">世の中のミスマッチをITで減らす!
          <br/>世の中の提供者と受給者の適切なマッチングの<span class="c-lineBreak c-lineBreak--pc"></span>お手伝をし、社会、企業、個人へ貢献します</p>
      </div>
      <div class="p-philosophy__item c-contentLayout c-contentLayout--half">
        <h2 class="p-philosophy__title">
        VISION<span class="p-philosophy__subTitle"> / ビジョン</span>
      </h2>
        <p class="p-philosophy__desc">
          誰からもありがとうと言われないが、
          <br/>あって当たり前のITサービスインフラで、
          <span class="c-lineBreak c-lineBreak--pc"></span>社会貢献をする
        </p>
      </div>
      <div class="p-philosophy__triagle c-triagle"></div>
    </div>
  </section>
  <!-- 事業 -->
  <section class="p-service">
    <span id="service"></span>
    <div class="p-service__content">
      <div class="p-service__title c-title">
        <h2 class="c-title__num">1 <span class="c-title__japanese">/ 事業内容</span></h2>
        <h2 class="c-title__english">SERVICE</h2>
      </div>
    </div>
    <div class="p-service__item p-service__item--full">
      <h2 class="p-service__itemTitle p-service__itemTitle--word"><img class="p-service__itemTitleImage" src="https://sun05.github.io/indentity_hp/public/images/braineer.png" alt="braineer"></h2>
      <div class="p-service__itemLayout c-contentLayout c-contentLayout--half">
        <h3 class="p-service__itemSubTitle">求人広告販売事業</h3>
        <p class="p-service__itemDesc">IT人材に特化した求人広告媒体（braineer：ブレイナー）は、IT人材（エンジニア、クリエイター）の採用支援をいたします。
          <br/>求人、インターンシップ、新卒、中途、フリーランス、海外人材と多様な属性で支援いたします。</p>
      </div>
      <div class="p-service__itemLayout c-contentLayout c-contentLayout--half">
        <div class="p-service__itemIllust">
          <a href="https://career.braineer.jp/" class="p-service__link c-link c-link--left" target="_blank"><span class="c-link__img"><img src="https://sun05.github.io/indentity_hp/public/images/braineer_career.png" alt="braineer career"></span><i class="fa fa-clone c-link__fa" aria-hidden="true"></i></a>
          <a href="https://freelance.braineer.jp/" class="p-service__link c-link c-link--left" target="_blank"><span class="c-link__img"><img src="https://sun05.github.io/indentity_hp/public/images/braineer_freelance.png" alt="braineer freelance"></span><i class="fa fa-clone c-link__fa" aria-hidden="true"></i></a>
          <a href="https://dispatch.braineer.jp/" class="p-service__link c-link c-link--left" target="_blank"><span class="c-link__img"><img src="https://sun05.github.io/indentity_hp/public/images/braineer_dispatch.png" alt="braineer dispatch"></span><i class="fa fa-clone c-link__fa" aria-hidden="true"></i></a>
          <a href="javascript:void(0)" onclick="" class="p-service__link c-link c-link--left unreleased" target="_blank"><span class="c-link__img"><img src="https://sun05.github.io/indentity_hp/public/images/braineer_oversea.png" alt="braineer over sea career"></span><i class="fa fa-clone c-link__fa" aria-hidden="true"></i></a>
          <a href="javascript:void(0)" onclick="" class="p-service__link c-link c-link--left unreleased" target="_blank"><span class="c-link__img"><img src="https://sun05.github.io/indentity_hp/public/images/braineer_student.png" alt="braineer student"></span><i class="fa fa-clone c-link__fa" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="p-service__item">
      <div class="p-service__itemLayout p-service__itemLayout--left">
        <h2 class="p-service__itemTitle"><img class="p-service__itemTitleImage" src="https://sun05.github.io/indentity_hp/public/images/user.png" alt="braineer"></h2>
        <h3 class="p-service__itemSubTitle">IT人材エージェントサービス事業</h3>
        <p class="p-service__itemDesc">
          IT人材エージェントサービスはIT人材（エンジニア、クリエイター）を中途、派遣、オンサイトの多様な契約形態で支援いたします。
        </p>
        <div class="p-service__itemIllust p-service__itemIllust--half p-service__itemIllust--center">
          <img class="p-service__itemTitleImage" src="https://sun05.github.io/indentity_hp/public/images/service_identity.png" alt="identity">
        </div>
      </div>
      <div class="p-service__itemLayout p-service__itemLayout--right">
        <h2 class="p-service__itemTitle"><img class="p-service__itemTitleImage" src="https://sun05.github.io/indentity_hp/public/images/egg.png" alt="braineer"></h2>
        <h3 class="p-service__itemSubTitle">インキュベーション事業</h3>
        <p class="p-service__itemDesc">コネクリは世界の大学生と企業のマッチングプラットフォームです。
          <br> 大学生、企業双方の課題を解決します。
        </p>
        <div class="p-service__itemIllust p-service__itemIllust--half p-service__itemIllust--center">
          <img class="p-service__itemTitleImage" src="https://sun05.github.io/indentity_hp/public/images/service_conecre.png" alt="conecre">
        </div>
        <div class="p-service__link">
          <a href="http://conecre.jp/" class="p-service__link p-service__link--inHalf c-link c-link--right" target="_blank"><span>詳しく見る</span><i class="fa fa-clone c-link__fa" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="p-service__triagle c-triagle"></div>
  </section>
  <!-- 会社概要 -->
  <section class="p-company">
    <span id="company"></span>
    <div class="p-company__content">
      <div class="p-company__title c-title">
        <h2 class="c-title__num">2 <span class="c-title__japanese">/ 会社概要</span></h2>
        <h2 class="c-title__english">COMPANY</h2>
      </div>
      <table class="p-company__table">
        <tr>
          <td class="p-company__tableTitle">社　名</td>
          <td class="p-company__tableContent">株式会社アイデンティティー</td>
        </tr>
        <tr>
          <td class="p-company__tableTitle">所在地</td>
          <td class="p-company__tableContent">
            【本社】
            <br/> 東京都渋谷区南平台町15-13
            <br/>帝都渋谷ビル8階
            <br/>
            <div class="p-company__link">
              <a href="https://www.google.co.jp/maps/place/%E3%80%92150-0036+%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B8%8B%E8%B0%B7%E5%8C%BA%E5%8D%97%E5%B9%B3%E5%8F%B0%E7%94%BA%EF%BC%91%EF%BC%95%E2%88%92%EF%BC%91%EF%BC%93+%E5%B8%9D%E9%83%BD%E6%B8%8B%E8%B0%B7%E3%83%93%E3%83%AB/@35.6552887,139.6931518,17z/data=!3m1!4b1!4m5!3m4!1s0x60188b54334c6743:0x6ef15c5ead045497!8m2!3d35.6553288!4d139.6953254" class="c-link c-link--right" target="_blank"><span>Map</span><i class="fa fa-clone c-link__fa" aria-hidden="true"></i></a>
            </div>
            【セミナー室】
            <br/> 東京都渋谷区南平台町2-12
            <br/> 渋谷南平台ビル8階
            <br/>
            <div class="p-company__link">
              <a href="https://www.google.co.jp/maps/place/%E3%80%92150-0036+%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%B8%8B%E8%B0%B7%E5%8C%BA%E5%8D%97%E5%B9%B3%E5%8F%B0%E7%94%BA%EF%BC%92%E2%88%92%EF%BC%91%EF%BC%92+%E6%B8%8B%E8%B0%B7%E5%8D%97%E5%B9%B3%E5%8F%B0%E4%B9%85%E4%BF%9D%E3%83%93%E3%83%AB/@35.6555417,139.6938224,17z/data=!3m1!4b1!4m5!3m4!1s0x60188b542b376fa9:0x2b16aaff5cc4007!8m2!3d35.6555196!4d139.6960234" class="c-link c-link--right" target="_blank"><span>Map</span><i class="fa fa-clone c-link__fa" aria-hidden="true"></i></a>
            </div>
            <br/>【ベトナム支社】
            <br/> ホーチミンオフィス
            <br/> 7th Floor, STAR BUILDING 33Ter-33bis, Mac Dinh Chi Street, Da Kao Ward, District 1, Ho Chi Minh City, Vietnam
            <br/>
            <div class="p-company__link">
              <a href="https://www.google.co.jp/maps/place/Star+Building/@10.7847668,106.6967516,17z/data=!3m1!4b1!4m5!3m4!1s0x31752f35f2fab8f7:0xa99615c83832dab5!8m2!3d10.7847615!4d106.6989456" class="c-link c-link--right" target="_blank"><span>Map</span><i class="fa fa-clone c-link__fa" aria-hidden="true"></i></a>
            </div>
            <br/>ハノイオフィス
            <br/> 5F Hoang Ngoc Tower, Plot C2C, Lane 92, Tran Thai Tong Street, Cau Giay District, Hanoi, Vietnam
            <br/>
            <div class="p-company__link">
              <a href="https://www.google.co.jp/maps/place/Hoang+Ngoc+Building,+D%E1%BB%8Bch+V%E1%BB%8Dng+H%E1%BA%ADu,+C%E1%BA%A7u+Gi%E1%BA%A5y,+H%C3%A0+N%E1%BB%99i,+%E3%83%99%E3%83%88%E3%83%8A%E3%83%A0/@21.0299398,105.7828975,17z/data=!3m1!4b1!4m5!3m4!1s0x3135ab4c61d62ac9:0xd84f0dd00eaf0eb0!8m2!3d21.029937!4d105.785086" class="c-link c-link--right" target="_blank"><span>Map</span><i class="fa fa-clone c-link__fa" aria-hidden="true"></i></a>
            </div>
          </td>
        </tr>
      </table>
      <table class="p-company__table">
        <tr>
          <td class="p-company__tableTitle">設　立</td>
          <td class="p-company__tableContent">2008年8月8日</td>
        </tr>
        <tr>
          <td class="p-company__tableTitle">資本金</td>
          <td class="p-company__tableContent">20,003,727円（2012年4月1日現在）</td>
        </tr>
        <tr>
          <td class="p-company__tableTitle">取締役</td>
          <td class="p-company__tableContent">
            代表取締役　今野 力
            <br/> 取締役　　　井上 紫音
            <br/> 社外取締役　白木 祥公
          </td>
        </tr>
        <tr>
          <td class="p-company__tableTitle">技術顧問</td>
          <td class="p-company__tableContent">
            <a class="c-name" href="http://www.ms.k.u-tokyo.ac.jp/sugi/index-jp.html" target="_blank">杉山　将</a>
            <br/> 理化学研究所 革新知能統合研究センター センター長
            <br/> 東京大学 大学院新領域創成科学研究科 複雑理工学専攻 教授
          </td>
        </tr>
        <tr>
          <td class="p-company__tableTitle">許認可</td>
          <td class="p-company__tableContent">派13-306352
            <br/>13-ユ-305760</td>
        </tr>
        <tr>
          <td class="p-company__tableTitle">顧問弁護士</td>
          <td class="p-company__tableContent">TMI総合法律事務所
            <br/>TMI総合法律事務所　ホーチミン</td>
        </tr>
        <tr>
          <td class="p-company__tableTitle">顧問監査法人</td>
          <td class="p-company__tableContent">EY新日本クリエーション株式会社
            <br/> Ernst &amp; Young Vietnam Limited
          </td>
        </tr>
        <tr>
          <td class="p-company__tableTitle">事業内容</td>
          <td class="p-company__tableContent">
            求人広告販売事業
            <br/>
            <span class="u-textNarrow">IT人材エージェントサービス事業</span>
            <br/> インキュベーション事業
          </td>
        </tr>
      </table>
    </div>
    <div id="map" class="p-company__map"></div>
    <div class="p-company__triagle c-triagle"></div>
  </section>
  <!-- お問い合わせ -->
  <section class="p-contact">
    <form id="form" action="/controllers/mail.php" method="post">
      <span id="contact"></span>
      <div class="p-contact__content">
        <div class="p-contact__title c-title">
          <h2 class="c-title__num">3 <span class="c-title__japanese">/ お問い合わせ</span></h2>
          <h2 class="c-title__english">CONTACT</h2>
        </div>
        <p class="p-contact__caution">
          お問い合わせ、ご質問、ご要望はフォームよりお願い致します。
          <br/> 3営業日以内に担当よりご返信致します。
          <br/> フォーム中の「
          <span class="c-input__required">※</span>」印は入力必須項目です。
        </p>
        <table class="p-contact__table">
          <tr>
            <td class="p-contact__tableTitle">内容</td>
            <td class="p-contact__tableContent">
              <div class="c-input__selectBox">
                <i class="fa fa-caret-down c-input__selectMark" aria-hidden="true"></i>
                <select id="select_1" name="typeContact" class="c-input c-input--select">
                  <option value="1">事業について</option>
                  <option value="2">braineerについて</option>
                  <option value="3">エンジニア採用支援について</option>
                  <option value="4">コネクリについて</option>
                  <option value="5">新卒・中途エントリーについて</option>
                  <option value="6">取材について</option>
                  <option value="7">個人情報の取扱いについて</option>
                  <option value="8">その他お問い合わせ</option>
                </select>
              </div>
            </td>
          </tr>
          <tr>
            <td class="p-contact__tableTitle">種別</td>
            <td class="p-contact__tableContent">
              <div class="p-contact__inputRadio c-inputRadio">
                <label for="radio_1" class="c-inputRadio__circleBox">
                  <span class="c-inputRadio__circle"></span>
                </label>
                <input type="radio" id="radio_1" name="typeContacter" class="c-inputRadio__input" value="corporation" hidden data-validetta="required" checked>
                <label for="radio_1" class="c-inputRadio__label">法人</label>
              </div>
              <div class="p-contact__inputRadio c-inputRadio">
                <label for="radio_2" class="c-inputRadio__circleBox">
                  <span class="c-inputRadio__circle fa s-hidden"></span>
                </label>
                <input type="radio" id="radio_2" name="typeContacter" class="c-inputRadio__input" value="general" hidden>
                <label for="radio_2" class="c-inputRadio__label">個人</label>
              </div>
              <div class="p-contact__inputRadio c-inputRadio">
                <label for="radio_3" class="c-inputRadio__circleBox">
                  <span class="c-inputRadio__circle s-hidden"></span>
                </label>
                <input type="radio" id="radio_3" name="typeContacter" class="c-inputRadio__input" value="other" hidden>
                <label for="radio_3" class="c-inputRadio__label">その他</label>
              </div>
            </td>
          </tr>
          <tr>
            <td class="p-contact__tableTitle">会社名</td>
            <td class="p-contact__tableContent">
              <input type="text" name="companyName" class="p-contact__input c-input">
            </td>
          </tr>
          <tr>
            <td class="p-contact__tableTitle">氏名<span class="c-input__required">※</span></td>
            <td class="p-contact__tableContent">
              <input type="text" name="kanjiName" size="30" class="p-contact__input c-input" data-validetta="required">
            </td>
          </tr>
          <tr>
            <td class="p-contact__tableTitle">フリガナ<span class="c-input__required">※</span></td>
            <td class="p-contact__tableContent">
              <input type="text" name="kanaName" class="p-contact__input c-input" data-validetta="required">
            </td>
          </tr>
          <tr>
            <td class="p-contact__tableTitle">電話番号<span class="c-input__required">※</span><span class="c-input__desc">半角</span></td>
            <td class="p-contact__tableContent">
              <input type="text" name="phoneNumber" class="p-contact__input c-input" data-validetta="required,tel" placeholder="例）03-5459-0488">
            </td>
          </tr>
          <tr>
            <td class="p-contact__tableTitle">メールアドレス<span class="c-input__required">※</span><span class="c-input__desc">半角英語</span></td>
            <td class="p-contact__tableContent">
              <input type="text" name="emailAddress" size="30" class="p-contact__input c-input" data-validetta="required,email">
            </td>
          </tr>
          <tr>
            <td class="p-contact__tableTitle">メールアドレス確認<span class="c-input__required">※</span><span class="c-input__desc">半角英語</span></td>
            <td class="p-contact__tableContent">
              <input type="text" name="confirmEmailAddress" size="30" class="p-contact__input c-input" data-validetta="required,email,equalTo[emailAddress]">
            </td>
          </tr>
        </table>
        <table class="p-contact__table">
          <tr>
            <td class="p-contact__tableTitle">郵便番号</td>
            <td class="p-contact__tableContent">
              <input type="text" name="postalCode" class="p-contact__input c-input" placeholder="例）150-0036">
            </td>
          </tr>
          <tr>
            <td class="p-contact__tableTitle">都道府県</td>
            <td class="p-contact__tableContent">
              <div class="c-input__selectBox">
                <i class="fa fa-caret-down c-input__selectMark" aria-hidden="true"></i>
                <select id="select_2" name="prefectures" class="c-input c-input--select">
                  <option value="">都道府県</option>
                  <option value="北海道">北海道</option>
                  <option value="青森県">青森県</option>
                  <option value="岩手県">岩手県</option>
                  <option value="宮城県">宮城県</option>
                  <option value="秋田県">秋田県</option>
                  <option value="山形県">山形県</option>
                  <option value="福島県">福島県</option>
                  <option value="茨城県">茨城県</option>
                  <option value="栃木県">栃木県</option>
                  <option value="群馬県">群馬県</option>
                  <option value="埼玉県">埼玉県</option>
                  <option value="千葉県">千葉県</option>
                  <option value="東京都">東京都</option>
                  <option value="神奈川県">神奈川県</option>
                  <option value="新潟県">新潟県</option>
                  <option value="富山県">富山県</option>
                  <option value="石川県">石川県</option>
                  <option value="福井県">福井県</option>
                  <option value="山梨県">山梨県</option>
                  <option value="長野県">長野県</option>
                  <option value="岐阜県">岐阜県</option>
                  <option value="静岡県">静岡県</option>
                  <option value="愛知県">愛知県</option>
                  <option value="三重県">三重県</option>
                  <option value="滋賀県">滋賀県</option>
                  <option value="京都府">京都府</option>
                  <option value="大阪府">大阪府</option>
                  <option value="兵庫県">兵庫県</option>
                  <option value="奈良県">奈良県</option>
                  <option value="和歌山県">和歌山県</option>
                  <option value="鳥取県">鳥取県</option>
                  <option value="島根県">島根県</option>
                  <option value="岡山県">岡山県</option>
                  <option value="広島県">広島県</option>
                  <option value="山口県">山口県</option>
                  <option value="徳島県">徳島県</option>
                  <option value="香川県">香川県</option>
                  <option value="愛媛県">愛媛県</option>
                  <option value="高知県">高知県</option>
                  <option value="福岡県">福岡県</option>
                  <option value="佐賀県">佐賀県</option>
                  <option value="長崎県">長崎県</option>
                  <option value="熊本県">熊本県</option>
                  <option value="大分県">大分県</option>
                  <option value="宮崎県">宮崎県</option>
                  <option value="鹿児島県">鹿児島県</option>
                  <option value="沖縄県">沖縄県 </option>
                </select>
              </div>
            </td>
          </tr>
          <tr>
            <td class="p-contact__tableTitle">市区町村</td>
            <td class="p-contact__tableContent">
              <input type="text" name="city" class="p-contact__input c-input">
            </td>
          </tr>
          <tr>
            <td class="p-contact__tableTitle">番地以下</td>
            <td class="p-contact__tableContent">
              <input type="text" name="otherCity" class="p-contact__input c-input">
            </td>
          </tr>
          <tr>
            <td class="p-contact__tableTitle">
              <p style="line-height: 18px">お問い合わせ内容</p>
            </td>
            <td class="p-contact__tableContent">
              <textarea class="p-contact__input c-input c-input--textarea" rows="8" wrap="soft" name="contactContent"></textarea>
            </td>
          </tr>
        </table>
        <div class="p-contact__term p-term">
          <h3 class="p-term__title">お問い合わせにおける個人情報の取扱いについて</h3>
          <br/> a) 個人情報の取扱事業者の名称
          <br/> 株式会社アイデンティティー
          <br/>
          <br/> b) 個人情報の保護管理者
          <br/> 個人情報保護管理責任者　　星野　友紀子
          <br/>
          <br/> c) 個人情報の利用目的
          <br/> 入力された個人情報は、お問合せへの対応のために利用します。
          <br/>
          <br/> d) 個人情報の第三者提供
          <br/> 法令の要請に基づく場合を除き、取得した個人情報をご本人の同意なく、第三者に提供する ことはありません。
          <br/>
          <br/> e) 個人情報の取扱いの委託
          <br/> 取得した個人情報の全部又は一部について外部に取扱いの委託を行なうことはありません。
          <br/>
          <br/> f) 開示対象個人情報の開示等の求めに応じる問合わせ窓口
          <br/> ご本人からの求めにより、当社が取得した開示対象個人情報の利用目的の通知、開示、 内容の訂正、追加又は削除、利用の停止、消去及び第三者への提供の停止（「開示等」という） に応じます。
          <br/> 開示等の求めに応じる窓口は、以下の「お問合せ先」をご覧ください。
          <br/>
          <br/> g) 個人情報の入力項目について
          <br/> 個人情報の各入力項目への入力は、任意となっておりますが、主要な項目（※印項目） に入力がない場合は、お問合わせの内容によっては、対応できない場合があります。
          <br/>
          <br/> h) 本人が容易に認識できない方法による個人情報の取得
          <br/> クッキーやウェブビーコン等を用いるなどして、本人が容易に認識できない方法による 個人情報の取得は、行なっておりません。
          <br/>
          <br/> x) 個人情報の安全管理措置
          <br/> このサイトは、SSL（Secure Socket Layer)暗号化措置により、個人情報への不正アクセス、 その盗用などから保護しております。
          <br/> 取得した個人情報は、漏洩、滅失又は毀損の防止と是正、その他個人情報の安全管理 のために、必要かつ適切な措置を講じています。
          <br/> 取得した個人情報は、お問合せに対して回答後、当社において確実に削除します。
          <br/>
          <br/> お問合せ先
          <br/> 個人情報問い合せ窓口：03-5459-0488
          <br/> E-MAIL:web-sales@id-entity.jp
          <br/>
        </div>
        <div class="p-contact__agreeBox">
          <div class="p-contact__agree p-agree c-input__checkbox">
            <label class="c-input__checkboxMark" for="iCheck"></label>
            <label class="c-input__checkboxTick s-hidden" for="iCheck"><i class="fa fa-check"></i></label>
            <input type="checkbox" name="iCheck" id="iCheck" data-validetta="required">
            <label for="iCheck" class="c-inputCheckbox">上記の【個人情報の取扱いについて】に同意する</label>
          </div>
        </div>
        <div class="p-contact__linkList">
          <button type="submit" class="c-btn c-btn--full c-btn--themeColor">
            <span>入力内容の送信</span>
            <i class="fa fa-angle-right c-btn__fa" aria-hidden="true"></i>
          </button>
          <a href="tel:0354590488" class="c-link c-link--full c-link--button">
            <i class="fa fa-phone fa-rotate-90 c-link__fa" aria-hidden="true"></i>
            <span>03-5459-0488</span>
          </a>
          <a href="mailto:web-info@id-entity.jp" class="c-link c-link--full c-link--button">
            <i class="fa fa-envelope-o c-link__fa" aria-hidden="true"></i>
            <span>web-info@id-entity.jp</span>
          </a>
        </div>
      </div>
    </form>
    <div class="p-contact__triagle c-triagle"></div>
  </section>
  <!-- 採用情報 -->
  <section class="p-recruit">
    <span id="recruit"></span>
    <div class="p-recruit__layout p-recruit__layout--left">
    </div>
    <div class="p-recruit__layout p-recruit__layout--right">
    </div>
    <div class="p-recruit__layoutContent">
      <div class="p-recruit__content p-recruit__content--left">
        <div class="p-recruit__title c-title c-title--inCover">
          <h2 class="c-title__num">4 <span class="c-title__japanese">/ 採用情報</span></h2>
          <h2 class="c-title__english">RECRUIT</h2>
        </div>
      </div>
      <div class="p-recruit__content p-recruit__content--right">
        <p>
          アイデンティティーの経営理念である「人と人とのつながりを大切にせよ」「成長をし続けるために困難に立ち向かえ」「小さな革新を重ねよ」「社会に必要とされる企業・個人であれ」に理解・共感できる方、是非ご応募ください。アイデンティティーであなたの力を発揮してみませんか。
        </p>
        <div class="p-recruit__link">
          <a href="/views/recruit.html/" class="c-link c-link--inCover c-link--right"><span>詳しく見る</span><i class="fa fa-clone c-link__fa" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </section>
  <!-- 社員紹介 -->
  <section class="p-member">
    <span id="member"></span>
    <div class="p-member__layout p-member__layout--left">
    </div>
    <div class="p-member__layout p-member__layout--right" data-img-path="https://sun05.github.io/indentity_hp/public/images/employee_card_">
    </div>
    <div class="p-member__title c-title c-title--inCover">
      <h2 class="c-title__num">5 <span class="c-title__japanese">/ 社員紹介</span></h2>
      <h2 class="c-title__english">MEMBER</h2>
      <div class="p-member__link">
        <a href="/views/recruit.html/#interview" class="c-link c-link--inCover c-link--right"><span>詳しく見る</span><i class="fa fa-angle-right c-link__fa" aria-hidden="true"></i></a>
      </div>
    </div>
  </section>
  <!-- ニュース -->
  <section class="p-news">
    <span id="news"></span>
    <div class="p-news__content">
      <div class="p-news__title c-title">
        <h2 class="c-title__num">6 <span class="c-title__japanese">/ お知らせ</span></h2>
        <h2 class="c-title__english">NEWS</h2>
      </div>
      <div class="p-news__list">
        <div class="p-news__item">
          <div class="p-news__itemDate">2017年4月1日</div>
          <p class="p-news__itemTitle">ホームページがリニューアルされました！</p>
        </div>
      </div>
    </div>
    <div class="p-news__moredetail c-arrow__wrapper">
      <a href="views/archive">
      詳しく見る<i class="c-arrow--right"></i>
    </a>
    </div>
  </section>
  <!-- GoogleMap API -->
  <script>
  function initMap() {
    var identity = {
      lat: 35.655339,
      lng: 139.695383
    };
    var zoom = 16;
    if (window.innerWidth < 768) {
      zoom = 15
    }
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: zoom,
      center: identity,
      scrollwheel: false,
      styles: [{
        "stylers": [{
          "hue": "#dd0d0d"
        }]
      }, {
        "featureType": "road",
        "elementType": "labels",
        "stylers": [{
          "visibility": "off"
        }]
      }, {
        "featureType": "road",
        "elementType": "geometry",
        "stylers": [{
          "lightness": 100
        }, {
          "visibility": "simplified"
        }]
      }]
    });
    var marker = new google.maps.Marker({
      position: identity,
      map: map
    });
  }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5Lt94QPoq6fNN9cgzAKIGW9TiCK5kHdE&callback=initMap" type="text/javascript"></script>
  <!-- GoogleMap API -->
  <script>
  function initMap() {
    var identity = {
      lat: 35.655339,
      lng: 139.695383
    };
    var zoom = 16;
    if (window.innerWidth < 768) {
      zoom = 15
    }
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: zoom,
      center: identity,
      scrollwheel: false,
      styles: [{
        "stylers": [{
          "hue": "#dd0d0d"
        }]
      }, {
        "featureType": "road",
        "elementType": "labels",
        "stylers": [{
          "visibility": "off"
        }]
      }, {
        "featureType": "road",
        "elementType": "geometry",
        "stylers": [{
          "lightness": 100
        }, {
          "visibility": "simplified"
        }]
      }]
    });
    var marker = new google.maps.Marker({
      position: identity,
      map: map
    });
  }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5Lt94QPoq6fNN9cgzAKIGW9TiCK5kHdE&callback=initMap" type="text/javascript"></script>
  <footer class="l-footer">
    <div class="l-footer__container">
      <div class="l-footer__sns">
        <a href="https://www.facebook.com/%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE%E3%82%A2%E3%82%A4%E3%83%87%E3%83%B3%E3%83%86%E3%82%A3%E3%83%86%E3%82%A3%E3%83%BC-208566559229653/" target="_blank">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a href="https://www.instagram.com/identity.facebook/?hl=ja" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="http://ameblo.jp/identitypr/" target="_blank">
          <img class="u-ameblo" src="https://sun05.github.io/indentity_hp/public/images/ameblo_black.png" alt="ameblo">
        </a>
      </div>
      <a href="#contact" class="l-footer__contact c-button">
        <i class="fa fa-envelope-o"></i>
        <div class="l-footer__contact__letter">
          お問い合わせ
        </div>
      </a>
      <div class="l-footer__privacyPolicy c-arrow_wrapper">
        <a href="/views/privacypolicy">
          個人情報の取扱いについて<i class="c-arrow--right"></i>
        </a>
      </div>
      <div class="l-footer__copyright">
        COPYRIGHT &copy;2017 identity.inc ALL RIGHTS RESERVED.
      </div>
    </div>
  </footer>
  <!-- トップにスクロールするボタン -->
  <button class="c-btn c-btn--scrollTop"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
  <!-- Google Analytics -->
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  var pageTracker = _gat._getTracker("UA-5107803-1");
  pageTracker._initData();
  pageTracker._trackPageview();
  </script>
  <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
  <script type="text/javascript">
  _uacct = "UA-xxxx-x";
  urchinTracker();
  </script>
  <script src="https://sun05.github.io/indentity_hp/public/javascripts/script.js" type="text/javascript"></script>
</body>

</html>
