<!DOCTYPE html>
<html>
<head>
	<title>IT（エンジニア、クリエイター）人材総合支援会社　株式会社アイデンティティー</title>
	<meta charset="utf-8">
	<meta name="description" content="株式会社アイデンティティーはIT人材（エンジニア、クリエイター）に特化した求人広告媒体（braineer：ブレイナー）とエージェントサービスで企業のITエンジニア不足を解決します。">
	<meta name="keyword" content="アイデンティティー、IT人材総合支援会社、IT人材、ITエンジニア、エージェント、IT求人、braineer、コネクリ、派遣、中途、オンサイト">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/dung/public/stylesheets/style.css">
</head>
<body>
	<!-- スマホヘッダー -->
	<header class="l-header">
		<div class="l-header--sp">
			<div class="l-header--sp__bar">
				<a href="/dung/views/">
					<h1 class="l-header--sp__logo">
						<img src="/dung/public/images/identity.png" alt="株式会社アイデンティティー">
					</h1>
				</a>
				<button class="l-header--sp__menubutton">
					<i class="fa fa-bars"></i>
				</button>
			</div>
			<ul class="l-header--sp__menuList">
				<li><a class="l-header--sp__menuItem" href="/dung/views/#top">TOP<i class="fa fa-angle-right"></i></a></li>
				<li><a class="l-header--sp__menuItem" href="/dung/views/#service">SERVICE<i class="fa fa-angle-right"></i></a></li>
				<li><a class="l-header--sp__menuItem" href="/dung/views/#company">COMPANY<i class="fa fa-angle-right"></i></a></li>
				<li><a class="l-header--sp__menuItem" href="/dung/views/#contact">CONTACT<i class="fa fa-angle-right"></i></a></li>
				<li><a class="l-header--sp__menuItem" href="/dung/views/#recruit">RECRUIT<i class="fa fa-angle-right"></i></a></li>
				<li><a class="l-header--sp__menuItem" href="/dung/views/#member">MEMBER<i class="fa fa-angle-right"></i></a></li>
				<li><a class="l-header--sp__menuItem" href="#news">NEWS<i class="fa fa-angle-right"></i></a></li>
			</ul>
		</div>
	</header>
	<!-- PCヘッダー -->
	<header class="l-header">
		<div class="l-header--pc">
			<div class="l-header--pc__container">
				<a href="/dung/views/">
					<h1 class="l-header--pc__logo"><img src="/dung/public/images/identity.png" alt="株式会社アイデンティティー"></h1>
				</a>
				<ul class="l-header--pc__menuList">
					<li><a class="l-header--pc__menuItem" href="/dung/views/#top">TOP</a><div class="l-header--pc__menuItem__triangle"></div></li>
					<li><a class="l-header--pc__menuItem" href="/dung/views/#service">SERVICE</a><div class="l-header--pc__menuItem__triangle"></div></li>
					<li><a class="l-header--pc__menuItem" href="/dung/views/#company">COMPANY</a><div class="l-header--pc__menuItem__triangle"></div></li>
					<li><a class="l-header--pc__menuItem" href="/dung/views/#contact">CONTACT</a><div class="l-header--pc__menuItem__triangle"></div></li>
					<li><a class="l-header--pc__menuItem" href="/dung/views/#recruit">RECRUIT</a><div class="l-header--pc__menuItem__triangle"></div></li>
					<li><a class="l-header--pc__menuItem" href="/dung/views/#member">MEMBER</a><div class="l-header--pc__menuItem__triangle"></div></li>
					<li><a class="l-header--pc__menuItem l-header--pc__menuItem--last active" href="#news">NEWS</a><div class="l-header--pc__menuItem__triangle active"></div></li>
				</ul>
			</div>
		</div>
	</header>
	<!-- ニュース -->
	<section class="p-news p-news--bgColor p-news--newPage">
		<div class="p-news__content">
			<div class="p-news__title c-title">
				<h2 class="c-title__english">NEWS</h2>
			</div>
			<ul class="p-news__yearList">
				<li class="p-news__year"><a href="#2016">2016</a></li>
				<li class="p-news__year"><a href="#2017">2017</a></li>
			</ul>
			<h3 class="p-news__yearTitle">2017<span id="2017" style="position: relative; top: -130px; display: block;"></span></h3>
			<ul class="p-news__articleList">
				<li class="p-news__article">
					<h4 class="p-news__articleDate">2017.03.03</h4>
					<h4 class="p-news__articleTitle">東大、理研センター長　杉山将氏 技術顧問就任のお知らせ</h4>
					<p class="p-news__articleContent">
						株式会社アイデンティティー（代表取締役　今野力）は東京大学 大学院新領域創成科学研究科 複雑理工学専攻 教授、理化学研究所 革新知能統合研究センター センター長 杉山 将氏が機械学習、人口知能における技術顧問に就任しました。<br/><br/>
						杉山 将（すぎやま まさし）<br/><br/>
						理化学研究所 革新知能統合研究センター センター長<br/>
						東京大学 大学院新領域創成科学研究科 複雑理工学専攻 教授<br/>
						東京大学 大学院情報理工学系研究科 コンピュータ科学専攻（兼担）<br/>
						東京大学 理学部 情報科学科（兼担）<br/>
						東京工業大学 大学院情報理工学研究科 計算工学専攻 特定教授<br/>
						産業技術総合研究所 人工知能研究センター 客員研究員<br/>
					</p>
				</li>
				<li class="p-news__article">
					<h4 class="p-news__articleDate">2017.02.06</h4>
					<h4 class="p-news__articleTitle">ベトナム法人設立お知らせ　IDENTITY VIETNAM COMPANY LIMITED</h4>
					<p class="p-news__articleContent">
						株式会社アイデンティティー（代表取締役　今野力）はベトナムにて法人を設立をしました。<br/><br/>
						IDENTITY VIETNAM COMPANY LIMITED<br/><br/>
						ホーチミンオフィス <br/>
						7th Floor, STAR BUILDING　33Ter-33bis, Mac Dinh Chi Street, Da Kao Ward, District 1, Ho Chi Minh City, Vietnam<br/><br/>
						ハノイオフィス<br/>
						5F Hoang Ngoc Tower, Plot C2C, Lane 92, Tran Thai Tong Street, Cau Giay District, Hanoi, Vietnam
					</p>
				</li>
				<li class="p-news__article">
					<h4 class="p-news__articleDate">2017.02.01</h4>
					<h4 class="p-news__articleTitle">ベストベンチャー100認定のお知らせ</h4>
					<p class="p-news__articleContent">
						株式会社アイデンティティー（代表取締役今野力）はベストベンチャー100に認定されました。<br/><br/>
						<a href="http://best100.v-tsushin.jp">http://best100.v-tsushin.jp/</a>
					</p>
				</li>
			</ul>
			<h3 class="p-news__yearTitle">2016<span id="2016" style="position: relative; top: -130px; display: block;"></span></h3>
			<ul class="p-news__articleList">
				<li class="p-news__article">
					<h4 class="p-news__articleDate">2016.12.28</h4>
					<h4 class="p-news__articleTitle">学生と企業を繋ぐ『コネクリ』リリースのお知らせ</h4>
					<p class="p-news__articleContent">
						株式会社アイデンティティー　（代表取締役　今野力）は2016年12月28日<br/>
						大学生と企業を繋ぐ『コネクリ』をリリースしました。<br/><br/>
						iPhoneアプリ（無料）<br/>
						<a href="https://itunes.apple.com/us/app/konekuri/id1182866848?l=ja&ls=1&mt=8">https://itunes.apple.com/us/app/konekuri/id1182866848?l=ja&ls=1&mt=8</a><br/><br/>
						Androidアプリ（無料）<br/>
						<a href="https://play.google.com/store/apps/details?id=jp.identity.conecre&hl=ja">https://play.google.com/store/apps/details?id=jp.identity.conecre&hl=ja</a>
					</p>
				</li>
				<li class="p-news__article">
					<h4 class="p-news__articleDate">2016.12.26</h4>
					<h4 class="p-news__articleTitle">年末年始の営業</h4>
					<p class="p-news__articleContent">
						平素は格別のお引き立てを受け賜り誠に有難うございます。<br/><br/>
						年末年始の休業に関しまして、下記の通りご連絡申し上げます。<br/>
						休業期間中は、何かとご迷惑をお掛け致しますが、<br/><br/>
						何卒、ご容赦くださいます様お願い申し上げます。<br/><br/>
						記<br/><br/>
						年内最終営業日：2016年12月29日（木）<br/><br/>
						年末年始休業日：2016年12月29日（木）～2017年1月3日（水）<br/><br/>
						年明営業開始日：2017年1月4日（水）通常通り業務開始
					</p>
				</li>
				<li class="p-news__article">
					<h4 class="p-news__articleDate">2016.10.01</h4>
					<h4 class="p-news__articleTitle">17卒内定式実施</h4>
					<p class="p-news__articleContent">
						株式会社アイデンティティー（代表取締役　今野力）は2016年10月1日に2017卒の内定式を行ないました。
					</p>
				</li>
			</ul>
			<div></div>
		</div>
	</section>
	<footer class="l-footer">
		<div class="l-footer__container">
			<div class="l-footer__sns">
				<a href="https://www.facebook.com/%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE%E3%82%A2%E3%82%A4%E3%83%87%E3%83%B3%E3%83%86%E3%82%A3%E3%83%86%E3%82%A3%E3%83%BC-208566559229653/" target="_blank">
					<i class="fa fa-facebook-square"></i>
				</a>
				<a href="https://www.instagram.com/identity.facebook/?hl=ja" target="_blank">
					<i class="fa fa-instagram"></i>
				</a>
			</div>
			<a href="/dung/views/#contact" class="l-footer__contact c-button">
				<i class="fa fa-envelope-o"></i>
				<div class="l-footer__contact__letter">
					お問い合わせ
				</div>
			</a>
			<div class="l-footer__privacyPolicy c-arrow_wrapper">
				<a href="/dung/views/privacyPolicy.html">
					個人情報の取扱いについて<i class="c-arrow--right"></i>
				</a>
			</div>
			<div class="l-footer__copyright">
				COPYRIGHT &copy;2017 identity.inc ALL RIGHTS RESERVED.
			</div>
		</div>
	</footer>
	<!-- トップにスクロールするボタン -->
	<button class="c-btn c-btn--scrollTop"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
	<script src="/dung/public/javascripts/script.js" type="text/javascript"></script>
</body>
</html>