<!DOCTYPE html>
<html lang="ja">
<head>
	<title>IT（エンジニア、クリエイター）人材総合支援会社　株式会社アイデンティティー</title>
	<meta charset="utf-8">
	<meta name="description" content="株式会社アイデンティティーはIT人材（エンジニア、クリエイター）に特化した求人広告媒体（brainier：ブレイナー）とエージェントサービスで企業のITエンジニア不足を解決します。">
	<meta name="keyword" content="アイデンティティー、IT人材総合支援会社、IT人材、ITエンジニア、エージェント、IT求人、braineer、コネクリ、派遣、中途、オンサイト">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/identity_hp/public/stylesheets/style_recruit.css">
</head>
<body>
	<!-- スマホヘッダー -->
	<header class="l-header l-header--underLayer">
		<div class="l-header--sp l-header--recruit">
			<div class="l-header--sp__bar l-header--sp__bar--underLayer">
				<a href="/identity_hp/views">
					<h1 class="l-header--sp__logo">
						<img src="/identity_hp/public/images/identity.png" alt="株式会社アイデンティティー">
					</h1>
				</a>
				<button class="l-header--sp__menubutton">
					<i class="fa fa-bars"></i>
				</button>
			</div>
			<ul class="l-header--sp__menuList">
				<li><a class="l-header--sp__menuItem" href="#message">Top Message</a></li>
				<li><a class="l-header--sp__menuItem" href="#interview">Interview</a></li>
				<li><a class="l-header--sp__menuItem" href="#about">This is identity</a></li>
				<li><a class="l-header--sp__menuItem" href="#office">Office</a></li>
				<li><a class="l-header--sp__menuItem" href="#recruitment">Recruitment</a></li>
			</ul>
		</div>
	</header>
	<!-- PCヘッダー -->
	<header class="l-header l-header--underLayer">
		<div class="l-header--pc l-header--recruit">
			<div class="l-header--pc__container">
				<a href="/identity_hp/views">
					<h1 class="l-header--pc__logo"><img src="/identity_hp/public/images/identity.png" alt="株式会社アイデンティティー"></h1>
				</a>
				<ul class="l-header--pc__menuList">
					<li><a class="l-header--pc__menuItem" href="#message">Top Message</a></li>
					<li><a class="l-header--pc__menuItem" href="#interview">Interview</a></li>
					<li><a class="l-header--pc__menuItem l-header--pc__menuItem--long" href="#about">This is identity</a></li>
					<li><a class="l-header--pc__menuItem" href="#office">Office</a></li>
					<li><a class="l-header--pc__menuItem" href="#recruitment">Recruitment</a></li>
				</ul>
			</div>
		</div>
	</header>
	<div class="c-layer c-layer--top"></div>
<!--コンテンツ-->
<!-- トップ -->
<section id="top" class="p-jumbotron">
  <div class="p-jumbotron__cover c-layer c-layer--top">
  </div>
  <div class="p-jumbotron__content">
    <div class="p-jumbotron__itemBox">
      <div class="p-jumbotron__item">
        <div class="p-jumbotron__itemBg p-jumbotron__itemBg--top"></div>
        <h2 class="p-jumbotron__itemTitle"><span class="c-line"></span>Mission<span class="c-line"></span></h2>
        <p class="p-jumbotron__itemDesc">
          世の中のミスマッチをITで減らす！<br/>
          世の中の提供者と受給者の<span class="c-lineBreak c-lineBreak--sp"></span>
          適切なマッチングのお手伝をし、<br/>
          社会、企業、個人へ貢献します
        </p>
      </div>
      <div class="p-jumbotron__item">
        <div class="p-jumbotron__itemBg p-jumbotron__itemBg--bottom"></div>
        <h2 class="p-jumbotron__itemTitle"><span class="c-line"></span>Vision<span class="c-line"></span></h2>
        <p class="p-jumbotron__itemDesc">
          誰からもありがとうと言われないが、<br/>
          あって当たり前のITサービスインフラで、<br/>
          社会貢献をする
        </p>
      </div>
    </div>
  </div>
</section>
<!-- ニュース -->
<section class="p-news">
  <div class="p-news__content">
    <h2 class="p-news__title">News</h2>
    <div class="p-news__item">
      <i class="p-news__itemBtn fa fa-plus"></i>
      <div class="p-news__itemHead">
        <div class="p-news__itemDate">2017年4月1日</div>
        <h3 class="p-news__itemTitle">ホームページがリニューアルされました！</h3>
      </div>
      <div class="p-news__itemDesc s-hidden">
        ホームページがリニューアルされました！
      </div>
    </div>
  </div>
</section>
<!-- 社長のメッセージ -->
<span id="message"></span>
<section class="p-message">
  <div class="p-message__content">
    <h2 class="p-message__title"><span class="c-line"></span>Top Message<span class="c-line"></span></h2>
    <h3 class="p-message__message">人と人とのつながりを大切にせよ</h3>
    <p class="p-message__detail">
      人と人とのつながりを大切にせよ「企業は人なり」、「事業は人なり」、「経営は人・金・物（情報・技術）」といかに人が重要かが諸説言われています。<br/>
      当社はその中でもIT人材に焦点を当てた人材ソリューションを展開しています。<br/>
      世界、日本でますますIT人材が不足して行くと言われている中で、当社はIT人材と企業に最良・最適な支援活動をして参ります。
    </p>
    <div class="p-message__image">
      <img src="/identity_hp/public/images/director.png" alt="今野力">
    </div>
  </div>
</section>
<span id="interview"></span>
<section class="p-interview">
  <div class="p-interview__overview">
    <h2 class="p-interview__title"><span class="c-line"></span>Interview<span class="c-line"></span></h2>
    <p class="p-interview__content">
      アイデンティティーで活躍するスタッフのインタビュー記事です。<span class="c-lineBreak c-lineBreak--pc"></span>
      仕事に関する考え方、今後のキャリアプランなど<span class="c-lineBreak c-lineBreak--pc"></span>
      普段聞けない話が盛りだくさん！
    </p>
  </div>
  <div class="p-interview__employeeList p-interview__employeeList--first">
			<div class="p-interview__employee c-card" data-interview="01">
				<div class="p-interview__employeeImg p-interview__employeeImg--first c-card__picture">
				</div>
				<span class="c-card__occupation">Sales</span>
				<div class="c-card__info">
					<div class="c-card__infoName">井上 紫音</div>
					<span class="c-card__infoYear">2012年入社</span>
					<span class="c-card__infoOccupation">営業</span>
				</div>
			</div>
			<div class="p-interview__employee c-card" data-interview="02">
				<div class="p-interview__employeeImg p-interview__employeeImg--second c-card__picture">
				</div>
				<span class="c-card__occupation">Sales</span>
				<div class="c-card__info">
					<div class="c-card__infoName">佐々木 柚季</div>
					<span class="c-card__infoYear">2013年入社</span>
					<span class="c-card__infoOccupation">営業</span>
				</div>
			</div>
			<div class="p-interview__employee c-card" data-interview="03">
				<div class="p-interview__employeeImg p-interview__employeeImg--third c-card__picture">
				</div>
				<span class="c-card__occupation">Admin</span>
				<div class="c-card__info">
					<div class="c-card__infoName">星野 友紀子</div>
					<span class="c-card__infoYear">2013年入社</span>
					<span class="c-card__infoOccupation">事務</span>
				</div>
			</div>
			<div class="p-interview__employee c-card" data-interview="04">
				<div class="p-interview__employeeImg p-interview__employeeImg--fourth c-card__picture">
				</div>
				<span class="c-card__occupation">Admin</span>
				<div class="c-card__info">
					<div class="c-card__infoName">木下 稜子</div>
					<span class="c-card__infoYear">2016年入社</span>
					<span class="c-card__infoOccupation">事務</span>
				</div>
			</div>
		</div>
		<div class="p-interview__employeeList">
			<div class="p-interview__employee p-interview__employee--quarter c-card" data-interview="05">
				<div class="p-interview__employeeImg p-interview__employeeImg--fifth c-card__picture">
				</div>
				<span class="c-card__occupation">Engineer</span>
				<div class="c-card__info">
					<div class="c-card__infoName">宇佐美 剛</div>
					<span class="c-card__infoYear">2015年入社</span>
					<span class="c-card__infoOccupation">エンジニア</span>
				</div>
			</div>
			<div class="p-interview__employee p-interview__employee--quarter c-card" data-interview="06">
				<div class="p-interview__employeeImg p-interview__employeeImg--sixth c-card__picture">
				</div>
				<span class="c-card__occupation">Engineer</span>
				<div class="c-card__info">
					<div class="c-card__infoName"><ruby>Tran Ngoc Hieu<rt>チャン ゴク ヒュウ</rt></ruby></div>
					<span class="c-card__infoYear">2016年入社</span>
					<span class="c-card__infoOccupation">エンジニア</span>
				</div>
			</div>
			<div class="p-interview__employee p-interview__employee--quarter c-card" data-interview="07">
				<div class="p-interview__employeeImg p-interview__employeeImg--seventh c-card__picture">
				</div>
				<span class="c-card__occupation">Special（Monkey）</span>
				<div class="c-card__info">
					<div class="c-card__infoName">林 大貴</div>
					<span class="c-card__infoYear">2017年入社</span>
					<span class="c-card__infoOccupation">営業</span>
				</div>
			</div>
			<div class="p-interview__employee p-interview__employee--quarter c-card"  data-interview="08">
				<div class="p-interview__employeeImg p-interview__employeeImg--eighth c-card__picture">
				</div>
				<span class="c-card__occupation">Internship</span>
				<div class="c-card__info">
					<div class="c-card__infoName">武藤 雅和</div>
					<span class="c-card__infoYear">学生</span>
					<span class="c-card__infoOccupation">インターン</span>
				</div>
			</div>
		</div>
</section>
<!-- 会社特徴 -->
<span id="about"></span>
<section class="p-character">
  <div class="p-character__content">
    <h2 class="p-character__title">
      <span class="c-line c-line--inWhiteCover"></span>
      This is identity
      <span class="c-line c-line--inWhiteCover"></span>
    </h2>
    <div class="p-character__charList">
      <div class="p-character__char p-character__char--grow">
        <span class="p-character__image p-character__image--grow">
          <img src="/identity_hp/public/images/char_grow.png"  alt="売上">
        </span>
        <span class="p-character__desc p-character__desc--center">売上</span>
        <span class="p-character__image p-character__image--percent c-hoverRotate">
          <img src="/identity_hp/public/images/char_180.png" alt="180%">
          <span class="p-character__descImage">% up</span>
        </span>
      </div>
      <div class="p-character__char">
        <span class="p-character__image p-character__image--foreign">
          <img src="/identity_hp/public/images/char_foreign.png" alt="グローバル">
        </span>
        <p class="p-character__desc p-character__desc--right p-character__desc--pullLeft">アジア各国など<br/>海外の事業展開中</p>
      </div>
      <div class="p-character__char">
        <p class="p-character__desc">パウダールームがある</p>
        <span class="p-character__image">
          <img src="/identity_hp/public/images/char_powder.png" alt="パウダールームがある">
        </span>
      </div>
      <div class="p-character__char p-character__char--weird">
        <span class="p-character__descBox">
          <span class="p-character__desc p-character__desc--onIcon">男女比</span>
          <span class="p-character__image p-character__image--underDesc">
            <img src="/identity_hp/public/images/char_sex.png" alt="男女率6:4">
          </span>
        </span>
        <span class="p-character__image p-character__image--sexNumber c-hoverRotate">
          <img src="/identity_hp/public/images/char_6_4.png" alt="男女率6:4">
          <span class="p-character__descNote">（2017年4月現在　<span>※役員のぞく</span>）</span>
        </span>
      </div>
      <div class="p-character__char p-character__char--weird">
        <span class="p-character__descBox">
          <span class="p-character__desc p-character__desc--onIcon">平均年齢</span>
          <span class="p-character__image p-character__image--underDesc">
            <img src="/identity_hp/public/images/char_age.png" alt="平均年齢23.6歳">
          </span>
        </span>
        <span class="p-character__image p-character__image--age c-hoverRotate">
          <img src="/identity_hp/public/images/char_23_6.png" alt="平均年齢23.6歳">
          <span class="p-character__descImage">歳</span>
          <span class="p-character__descNote">（2017年4月現在　<span>※役員のぞく</span>）</span>
        </span>
        <!-- <span class="p-character__descImage">※役員のぞく</span> -->
      </div>
      <a href="http://best100.v-tsushin.jp/2017/02/post_205.php" class="p-character__char" target="_blank">
        <span class="p-character__image">
          <img src="/identity_hp/public/images/char_venture.png" alt="ベストベンチャー100認定">
        </span>
        <p class="p-character__desc p-character__desc--right">ベストベンチャー100<br/>認定</p>
      </a>
      <a href="http://www.ms.k.u-tokyo.ac.jp/sugi/index-jp.html" class="p-character__char" target="_blank">
        <p class="p-character__desc">日本におけるAIの第一人者<br/>東京大学杉山教授が顧問</p>
        <span class="p-character__image">
          <img src="/identity_hp/public/images/char_ai.png" alt="ベストベンチャー100認定">
        </span>
      </a>
    </div>
  </div>
</section>
<!-- オフィス -->
<span id="office"></span>
<section class="p-office l-layout">
  <div class="l-layout__coverBox">
    <div class="p-office__cover l-layout__cover l-layout__cover--left"></div>
  </div>
  <div class="p-office__content l-layout__contentBox">
    <div class="p-office__descBox l-layout__content l-layout__content--left">
      <h2 class="p-office__title">
        <span class="c-line c-line--inWhiteCover"></span>
        Office
        <span class="c-line c-line--inWhiteCover"></span>
      </h2>
      <div class="p-office__desc">
        毎日掃除をしている執務室、女性専用のパウダールーム、広々とした会議室、リラックスしながら打ち合わせができる応接室、50人収容できるセミナールーを完備しています。<br/>
        その一部をご紹介いたします。
      </div>
    </div>
  </div>
  <div class="p-office__pictureBox">
    <div class="p-office__pictureSlider">
      <div class="p-office__picture p-office__picture--first"></div>
      <div class="p-office__picture p-office__picture--second"></div>
      <div class="p-office__picture p-office__picture--third"></div>
      <div class="p-office__picture p-office__picture--fourth"></div>
      <div class="p-office__picture p-office__picture--fifth"></div>
      <div class="p-office__picture p-office__picture--sixth"></div>
      <div class="p-office__picture p-office__picture--seventh"></div>
      <div class="p-office__picture p-office__picture--eighth"></div>
    </div>
  </div>
</section>
<!-- リクルートメント -->
<span id="recruitment"></span>
<section class="p-recruitment">
  <div class="p-recruitment__content">
    <h2 class="p-recruitment__title">
      <span class="c-line"></span>
      Recruitment
      <span class="c-line"></span>
    </h2>
    <p class="p-recruitment__desc">
      当社の経営理念に共感頂ける方をお待ちしています。<br/>
      人と人とのつながりを大切にせよ<br/>
      成長をし続けるために困難に立ち向かえ<br/>
      小さな革新を重ねよ<br/>
      社会に必要とされる企業・個人であれ
    </p>
    <div class="p-recruitment__btnList">
      <a class="p-recruitment__btn c-btn c-btn--inCover" href="/identity_hp/views/recruit/requirements">
        中途採用
        <i class="c-btn__fa fa fa-angle-right"></i>
      </a>
      <a class="p-recruitment__btn c-btn c-btn--inCover" href="/identity_hp/views/fresh.html
">
        18卒採用
        <i class="c-btn__fa c-btn__fa--weird fa fa-clone fa-rotate-270"></i>
      </a>
    </div>
  </div>
</section>
<!-- 社員のモーダル -->
  <!-- 井上紫音 -->
  <div class="c-modal s-hidden" id="interview_01">
    <div class="c-modal__head">
      <div class="c-modal__picture">
        <img src="/identity_hp/public/images/interview_01.jpg" alt="井上紫音">
      </div>
      <button class="c-modal__btn c-btn c-btn--noShadow"><i class="fa fa-close"></i></button>
      <div class="c-modal__info">
        <span class="c-modal__occupation">Sales</span>
        <div class="c-modal__name">SHION INOUE</div>
        <p class="c-modal__year">2010年入社 営業</p>
      </div>
    </div>
    <div class="c-modal__body">
      <h3 class="c-modal__title">アイデンティティーはどのような事業をしている会社なのですか？</h3>
      <p class="c-modal__content">
        IT人材総合支援会社
      </p>
      <h3 class="c-modal__title">どのような仕事をされているのですか？</h3>
      <p class="c-modal__content">
        今春から取締役（COO）に上がり、営業周り全般にまつわる数字・人・計画のマネジメントがメインの仕事になります。<br/>
        厳密にはこれからになりますが、社内のコーポレート（採用・教育・広報）に関しても携わりマネジメントしていくことが仕事になります。
      </p>
      <h3 class="c-modal__title">入社〜現在までにどのような仕事をしてきましたか？</h3>
      <p class="c-modal__content">
        1〜2年目：営業のプレイヤーとして数字を残すことに集中しました。後半からメンバーをつけていましたが、今考えると先輩的なポジションで知っていることを教えている程度の内容でした。<br/>
        3〜4年目：プレイングマネージャーとしてチームを持ちながら、会社としてのクライアントのレベルを上げ、広げていくこと、業界内でも弊社の特性を作るような作業やより効率よく数字形成をする為の計画や施策の実行<br/>
        5年目；業務範囲がこれまではSES（※）のみを行ってきたが、派遣・中途採用に対しても担当。業務範囲を広げる<br/><br/>
        5年間約200〜400%成長を継続、社員も最小4人→最大35人（現在）となり、会社の様々なフェーズを最前線で経験してきました。<br/>
        ※システムエンジニアリングサービス（技術社常駐型業務委託）の略
      </p>
      <h3 class="c-modal__title">仕事のやり甲斐は何でしょうか？</h3>
      <p class="c-modal__content">
        組織、メンバー、個人、お客様、技術者、パートナー様の日々の変化と成長
      </p>
      <h3 class="c-modal__title">これまで一番嬉しかった事は何でしょうか？</h3>
      <p class="c-modal__content">
        2年半経験：25歳の自分に執行役員営業部長という大役を任せてくれたこと
      </p>
      <h3 class="c-modal__title">これまで一番苦しかった事は何でしょうか？</h3>
      <p class="c-modal__content">
        上記と同時期に信頼していた先輩達がいなくなってしまい、自分の気合がから回っているように感じたこと
      </p>
      <h3 class="c-modal__title">アイデンティティーの成長の秘訣は何ですか？</h3>
      <p class="c-modal__content">
        クラッシュアンドビルド<br/>
        創ったものを簡単に壊し、必要とされる動きに柔軟に動けること
      </p>
      <h3 class="c-modal__title">海外展開も進めていますが、今後どのような展開を考えているのでしょうか？</h3>
      <p class="c-modal__content">
        現状ではIPOを意識しているメンバーが多く、そこに対して向かっていているような状況です。但しIPOが目的になるのではなく、弊社が掲げている「世の中のミスマッチをITで減らす」や「誰からもありがとうと言われない、あって当たり前のITサービスインフラで社会貢献をする」というミッション・ビジョンに向かって多くの人・企業に与える影響力の輪が広げていくことで、結果がついてくると思います。<br/>
        直近ではやはりIT人材領域で国内外問わず、多くの人・企業に役立つサービスを展開していく形になるとおもいます。
      </p>
      <h3 class="c-modal__title">周りの人に「ここは誇れる！」というアイデンティティーの良い点は何でしょうか？</h3>
      <p class="c-modal__content">
        若いメンバーで大きな目標に向かっていく姿勢<br/>
        スイッチが入った時のクレイジーレベル※一部（笑）
      </p>
      <h3 class="c-modal__title">これからアイデンティティーはどのように変わっていくと思いますか？</h3>
      <p class="c-modal__content">
        ・サービス特化<br/>
        ・業務領域・範囲の広域化<br/>
        ・グローバル化
      </p>
      <div class="c-modal__layout">
        <div class="c-modal__layoutItem">
          <h3 class="c-modal__title">どのような人がアイデンティティーに合っていると思いますか？</h3>
          <p class="c-modal__content">
            自分で物事を考えて自ら動ける人<br/>
            成長意欲の高い人<br/>
            性格的には下記要素がある人<br/>
            利他、謙虚、自立、行動、改善、丁寧、勤勉、誠実
          </p>
          <h3 class="c-modal__title">これからアイデンティティーに入っている方に一言お願いします。</h3>
          <p class="c-modal__content">
            360℃感動を一緒に届けましょう！
          </p>
        </div>
        <div class="c-modal__layoutItem c-modal__layoutItem--descImg">
          <div class="c-modal__descImg">
            <img src="/identity_hp/public/images/interview_desc_01.jpg" alt="井上紫音">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 佐々木裕季 -->
  <div class="c-modal s-hidden" id="interview_02">
    <div class="c-modal__head">
      <div class="c-modal__picture c-modal__picture--right">
        <img src="/identity_hp/public/images/interview_02.jpg" alt="佐々木裕季">
      </div>
      <button class="c-modal__btn c-btn c-btn--noShadow"><i class="fa fa-close"></i></button>
      <div class="c-modal__info c-modal__info--left">
        <span class="c-modal__occupation">Sales</span>
        <div class="c-modal__name">YUKI SASAKI</div>
        <p class="c-modal__year">2013年入社 営業</p>
      </div>
    </div>
    <div class="c-modal__body">
      <h3 class="c-modal__title">アイデンティティーはどのような事業をしている会社なのですか？</h3>
      <p class="c-modal__content">
        IT特化型の人材支援会社です
      </p>

      <h3 class="c-modal__title">どのような仕事をされているのですか？</h3>
      <p class="c-modal__content">
        企業と人があるとすると、人側を担当しています。<br/>
        一般の求職者の方に会い、今までの経歴と今後のキャリアについてヒアリングし、<br/>
        弊社から紹介が可能な求人のご提案と、うちではない他で実現出来ることがあれば、そういったことも話します。
      </p>

      <h3 class="c-modal__title">入社〜現在までにどのような仕事をしてきましたか？</h3>
      <p class="c-modal__content">
        入社後すぐは、同業でパートナー企業をたくさん作り、<br/>エンジニアと企業をつなぐ、実績を積む所から始まりました。<br/><br/>
        2年目は後輩もできて、教えながら自分の数字作りをしたり、<br/>
        チームリーダーという役割で営業活動をしていました。<br/><br/>
        3年目はクライアントを幾つか担当し、お客さんの目線というものも学びました。<br/>
        現在では会社の購買部門を主に担い、各企業担当者へ優秀なエンジニアを供給するために日々購買活動をしています。
      </p>

      <h3 class="c-modal__title">仕事のやり甲斐は何でしょうか？</h3>
      <p class="c-modal__content">
        お客さんやエンジニアからのありがとうをもらえた時です。<br/><br/>
        感謝されることが少ない業界だからこそ<br/>
        そういう場に立ち会えるとその嬉しさはひとしおです。
      </p>

      <h3 class="c-modal__title">これまで一番嬉しかった事は何でしょうか？</h3>
      <p class="c-modal__content">
        自分にしか出来ない仕事ができた瞬間です。<br/>詳しくは個別にお伝えします！
      </p>

      <h3 class="c-modal__title">これまで一番苦しかった事は何でしょうか？</h3>
      <p class="c-modal__content">
        数字があがらない、理由がわからない<br/>
        PDCAが回しきれない、といった瞬間です。<br/>
        人の手をまったく借りずに乗り越えられる困難は中々ないことに気づきました。
      </p>

      <h3 class="c-modal__title">休日は何をしているのですか？</h3>
      <p class="c-modal__content">
        運動をします。球技が好きです。<br/>
        発祥はももの籠から！
      </p>

      <h3 class="c-modal__title">アイデンティティーの成長の秘訣は何ですか？</h3>
      <p class="c-modal__content">
        三位一体、一人一人が活躍できる環境づくりをすることではないでしょうか！
      </p>

      <h3 class="c-modal__title">周りの人に「ここは誇れる！」というアイデンティティーの良い点は何でしょうか？</h3>
      <p class="c-modal__content">
        自己成長は確実にできるという点です。<br/>本当に、自分次第の会社です。
      </p>

      <h3 class="c-modal__title">これからアイデンティティーはどのように変わっていくと思いますか？</h3>
      <p class="c-modal__content">
        人数が増えて、いろんな人が働ける会社になっていくと思います。<br/>
        いろいろな価値観をまぜながら、きっと他社からも評価してもらえるような<br/>
        そんな会社になると思います。
      </p>

      <div class="c-modal__layout">
        <div class="c-modal__layoutItem">
          <h3 class="c-modal__title">どのような人がアイデンティティーに合っていると思いますか？</h3>
          <p class="c-modal__content">
            自分軸を持っていて、辛抱強く物事を継続出来る人だと思います。<br/>
            厳しい環境下で続けることで得られる力やチャンスが大いにある会社です。
          </p>
          <h3 class="c-modal__title">これからアイデンティティーに入っている方に一言お願いします。</h3>
          <p class="c-modal__content">
            力をつけたい、と思ったら<br/>
            アイデンティティーにくるべきだと思います！
            <br/>必ず成長させます。3倍速で！
          </p>
        </div>
        <div class="c-modal__layoutItem c-modal__layoutItem--descImg">
          <div class="c-modal__descImg">
            <img src="/identity_hp/public/images/interview_desc_02.jpg" alt="佐々木裕季">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 星野友紀子 -->
  <div class="c-modal s-hidden" id="interview_03">
    <div class="c-modal__head">
      <div class="c-modal__picture c-modal__picture--right">
        <img src="/identity_hp/public/images/interview_03.jpg" alt="星野友紀子">
      </div>
      <button class="c-modal__btn c-btn c-btn--noShadow"><i class="fa fa-close"></i></button>
      <div class="c-modal__info c-modal__info--left">
        <span class="c-modal__occupation">Admin</span>
        <div class="c-modal__name">YUKIKO HOSHINO</div>
        <p class="c-modal__year">2013年入社 事務</p>
      </div>
    </div>
    <div class="c-modal__body">
      <h3 class="c-modal__title">どのような仕事をされているのですか？</h3>
      <p class="c-modal__content">
        管理部として、営業事務の管理、労務処理、経理処理、各ライセンスの申請・更新、ベトナムの会社設立のサポート等、秘書業務
        営業と開発以外なんでもします！
      </p>

      <h3 class="c-modal__title">入社〜現在までにどのような仕事をしてきましたか？</h3>
      <p class="c-modal__content">
        最初の1、2年は営業事務として、営業のサポートをメインでしてきました。<br/>
        3年目くらいから、<br/>
        ・労務処理として給与計算や入退社の手続き<br/>
        ・請求書・領収書の管理、入金処理等の経理処理<br/>
        ・各種ライセンスの申請・更新
        <br/>等、営業事務だけでなく、会社の管理部門として社内がより良くなるような仕事をしています。
      </p>

      <h3 class="c-modal__title">仕事のやり甲斐は何でしょうか？</h3>
      <p class="c-modal__content">
        営業事務をしているときは、営業さんが売上を上げたときが<br/>
        1番嬉しかったです。<br/>
        今も売上が上がった時はもちろん嬉しいですが、<br/>
        今は会社全体のサポートというかたちになってきて<br/>
        自分が制度を考えて、運営していく立場なので<br/>
        新しいライセンスを取得して、より営業しやすくなったり<br/>
        自分が考えたり、創った事が、社の制度としていい影響を<br/>
        与えることができたときは、やりがいを感じます。
      </p>

      <h3 class="c-modal__title">これまで一番嬉しかった事は何でしょうか？</h3>
      <p class="c-modal__content">
        3年目位から新しい業務をはじめた時、何もわからない状態からはじめて、<br/>
        形となってできたときは嬉しかったです！<br/><br/>
        あとは、後輩が褒められた時です！
      </p>

      <h3 class="c-modal__title">これまで一番苦しかった事は何でしょうか？</h3>
      <p class="c-modal__content">
        営業事務の業務を管理する立場になり、専門的な業務が増えた時に<br/>
        自分の知識不足で、思うように進まなかったり、時間がかかってしまったことです。<br/>
        ただ新しい知識を得ることは、とても勉強になりますし<br/>
        事務という立場でも多くのことを経験できていることは<br/>
        とてもありがたいです。
      </p>

      <h3 class="c-modal__title">休日は何をしているのですか？</h3>
      <p class="c-modal__content">
        家事をして外へ出ます！
      </p>

      <h3 class="c-modal__title">将来の夢は何でしょうか？</h3>
      <p class="c-modal__content">
        年長の女性社員として、女性ならではの制度を整えて実績を作ることです。<br/>
        まだ当社は若いので、産休や育休の実績がないですが、<br/>
        ライフスタイルの変化があったときでもキャリアをつめるように<br/>
        キャリアプランの一つとして示していければ良いなと思います。
      </p>

      <h3 class="c-modal__title">周りの人に「ここは誇れる！」というアイデンティティーの良い点は何でしょうか？</h3>
      <p class="c-modal__content">
        ひとりひとりに任せてもらえる裁量が多いところ<br/>
        他の会社が3年で経験することを1年位で経験できる
      </p>

      <h3 class="c-modal__title">これからアイデンティティーはどのように変わっていくと思いますか？</h3>
      <p class="c-modal__content">
        2017年にベトナム支社が設立され、よりグローバルになっていくのではないかと思います。私自身、英語は全く得意ではないですが、<br/>
        ベトナムの従業員と英語で連絡をとっています！
      </p>

      <h3 class="c-modal__title">どのような人がアイデンティティーに合っていると思いますか？</h3>
      <p class="c-modal__content">
        会社の指針として<br/>
        「利他、謙虚、自立、行動、改善、丁寧、勤勉、誠実」<br/>
        をあげているので、それに当てはまる人があっていると思います。
      </p>

      <div class="c-modal__layout">
        <div class="c-modal__layoutItem">
          <h3 class="c-modal__title">これからアイデンティティーに入っている方に一言お願いします。</h3>
          <p class="c-modal__content">
            アイデンティティーはまだ完璧ではありません。<br/>
            だからこそ経験できる部分も多いです！<br/>
            一緒に頑張りましょう！
          </p>
          <h3 class="c-modal__title">これからアイデンティティーに入っている方に一言お願いします。</h3>
          <p class="c-modal__content">
            アイデンティティーはまだ完璧ではありません。<br/>
            だからこそ経験できる部分も多いです！<br/>
            一緒に頑張りましょう！
          </p>
        </div>
        <div class="c-modal__layoutItem c-modal__layoutItem--descImg">
          <div class="c-modal__descImg">
            <img src="/identity_hp/public/images/interview_desc_03.jpg" alt="星野友紀子">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 木下稜子 -->
  <div class="c-modal s-hidden" id="interview_04">
    <div class="c-modal__head">
      <div class="c-modal__picture c-modal__picture--right">
        <img src="/identity_hp/public/images/interview_04.jpg" alt="木下稜子">
      </div>
      <button class="c-modal__btn c-btn c-btn--noShadow"><i class="fa fa-close"></i></button>
      <div class="c-modal__info c-modal__info--left">
        <span class="c-modal__occupation">Admin</span>
        <div class="c-modal__name">RYOKO KINOSHITA</div>
        <p class="c-modal__year">2016年入社 事務</p>
      </div>
    </div>
    <div class="c-modal__body">
      <h3 class="c-modal__title">何故アイデンティティーを選んだのですか？</h3>
      <p class="c-modal__content">
        採用の時にインターンに参加させていただいてその時に星野さんと出会ったのが1番の理由です。<br/>
        東京の企業を受けたのはここが初めてでわからないことが多かったのですが、小さなことにも親身に聞いてくれてこんなにも温かみのある人がいる会社で働きたいと純粋に思ってここに決めました。
      </p>

      <h3 class="c-modal__title">どのような仕事をされているのですか？</h3>
      <p class="c-modal__content">
        今は営業事務をしていて、主に営業さんのサポートです。<br/>
        まだできることは少ないのでこれから一つ一つできることを増やせるように学んでいきたいです！
      </p>

      <h3 class="c-modal__title">入社〜現在までにどのような仕事をしてきましたか？</h3>
      <p class="c-modal__content">
        入社して最初は電話来客対応や営業事務としての基礎的な仕事を覚えることからはじめてメールを打つのも言葉を調べながらしていました。<br/>
        それから少しずつ営業事務としてもできることが増えていき請求書や受発注、営業さんの諸経費や入退室の管理などができるようになり、今は契約書についてもできるように勉強しています。
      </p>

      <h3 class="c-modal__title">仕事のやり甲斐は何でしょうか？</h3>
      <p class="c-modal__content">
        営業さんが成約を上げた時ですね！<br/>
        営業さんのように大きなことをするわけではないですが小さなことの積み重ねが今の営業事務でのお仕事だと思うのでこうして見える形で成果が出た時は本当に嬉しいしもっとできることはないのか！と思ってやる気が出ます。
      </p>

      <h3 class="c-modal__title">これまで一番嬉しかった事は何でしょうか？</h3>
      <p class="c-modal__content">
        日々つけているスケジュールで同じタスクをしていても少しずつこなす時間が短くなっていくのは嬉しいです！<br/>
        あと、社内でも1番色々なセクションと関わるので小さなことに気づいたりした時にありがとうって言ってもらえた時です！
      </p>

      <h3 class="c-modal__title">これまで一番苦しかった事は何でしょうか？</h3>
      <p class="c-modal__content">
        実務に入って最初の時、ミスをしてしまいそのせいでアドミンや営業さんに迷惑をかけた時です。<br/>
        まだ最初ということもあって私ではなく星野さんや上野さんが言われてしまうというのが苦しかったです。<br/>
        だからこそ、それ以来一つ一つをもっと丁寧に取り組むようにしました。
      </p>

      <h3 class="c-modal__title">休日は何をしているのですか？</h3>
      <p class="c-modal__content">
        家事をしてから外に出かけることが多いです！アート展に行ったりして東京を散策してます 笑
      </p>

      <h3 class="c-modal__title">アイデンティティーの成長の秘訣は何ですか？</h3>
      <p class="c-modal__content">
        ひとりひとりの価値が大きい会社なので、それぞれ高い意識を持って働いてるその姿勢だと思います。
      </p>

      <h3 class="c-modal__title">周りの人に「ここは誇れる！」というアイデンティティーの良い点は何でしょうか？</h3>
      <p class="c-modal__content">
        1年目でも色々な経験をさせてもらえるところだと思います。<br/>
        そして、社員さんたちの真っ直ぐさだと思います。<br/>
        仕事への姿勢もやはり大変な時もありますが何があっても進んでいく姿は本当にかっこいいと感じますし尊敬します。
      </p>

      <div class="c-modal__layout">
        <div class="c-modal__layoutItem">
          <h3 class="c-modal__title">どのような人がアイデンティティーに合っていると思いますか？</h3>
          <p class="c-modal__content">
            素直で柔軟な人ですかね、あとは行動にうつせる人。<br/>
            社会に入るときっと自分が思うようにできることってとても少ないので言われたことを1度飲み込んでまずはしてみる！<br/>
            それができる人がいいと思います。
          </p>
          <h3 class="c-modal__title">これからアイデンティティーに入っている方に一言お願いします。</h3>
          <p class="c-modal__content">
            大変なこともあるけれど自分を変えれるぐらいのきっかけが色んなところにある会社です！<br/>
            みなさんをお待ちしてます！
          </p>
        </div>
        <div class="c-modal__layoutItem c-modal__layoutItem--descImg">
          <div class="c-modal__descImg">
            <img src="/identity_hp/public/images/interview_desc_04.jpg" alt="木下稜子">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 宇佐美剛 -->
  <div class="c-modal s-hidden"  id="interview_05">
    <div class="c-modal__head">
      <div class="c-modal__picture">
        <img src="/identity_hp/public/images/interview_05.jpg" alt="宇佐美剛">
      </div>
      <button class="c-modal__btn c-btn c-btn--noShadow"><i class="fa fa-close"></i></button>
      <div class="c-modal__info">
        <span class="c-modal__occupation">Engineer</span>
        <div class="c-modal__name">GO USAMI</div>
        <p class="c-modal__year">2015年入社 エンジニア</p>
      </div>
    </div>
    <div class="c-modal__body">
      <h3 class="c-modal__title">何故アイデンティティーを選んだのですか？</h3>
      <p class="c-modal__content">
        アイデンティティーを選んだ一番の理由は"人"です。<br/>
        会社説明会後に代表の今野と食事をする場を設けていただき、考え方や熱い想いに惹かれました。<br/>
        そんな今野の元で自らの力を発揮して、会社と己を成長させていきたいと考え入社を決めました。
      </p>

      <h3 class="c-modal__title">どのような仕事をされているのですか？</h3>
      <p class="c-modal__content">
        エンジニアとして、自社サービスである<a href="https://career.braineer.jp" target="_blank">braineer</a>というサービスを開発・運用しています。<br/>
        プロダクトの責任ある立場として、サービスを成長させるためには何が必要なのかを分析・議論しながらUIの改善に励んでおります。
      </p>

      <h3 class="c-modal__title">入社〜現在までにどのような仕事をしてきましたか？</h3>
      <p class="c-modal__content">
        入社から半年はプログラミングの知識がなかったので、既存のWebサービスを真似て作るという研修を行ないました。<br/>
        その後、Androidアプリを2本続けて開発をしました。<br/>
        それらを通じて、Webアプリのフロントやサーバーの知識・インフラの知識・スマホアプリの知識が身につきました。<br/>
        今までの経験を活かして、1年目の12月から<a href="https://career.braineer.jp" target="_blank">braineer</a>の開発を行なってきました。
      </p>

      <h3 class="c-modal__title">仕事のやり甲斐は何でしょうか？</h3>
      <p class="c-modal__content">
        エンジニアとしてフルスタックに何でもできるという点です。<br/>
        弊社のエンジニアは"グロースハッカー"と名乗っており、<br/>
        プロダクトを成長させるためにマーケティングから、設計・実装・運用と全てに携わります。<br/>
        プロダクトの品質・期限が担保できれば技術的制約は存在しないので、<br/>
        主体的にやりたい技術をやっていけることもやり甲斐となっています。
      </p>

      <h3 class="c-modal__title">これまで一番嬉しかった事は何でしょうか？</h3>
      <p class="c-modal__content">
        <a href="https://career.braineer.jp" target="_blank">braineer</a>をリリースできた時が一番嬉しかったです。<br/>
        また、リリース後にエンジニアだけで<a href="https://career.braineer.jp" target="_blank">braineer</a>の営業に行って、<br/>
        契約をしていただけた時もとても嬉しかったです。<br/>
        今では、そういった企業様に喜んでもらうことを1つの目標として日々の業務に励んでおります。
      </p>

      <h3 class="c-modal__title">これまで一番苦しかった事は何でしょうか？</h3>
      <p class="c-modal__content">
        <a href="https://career.braineer.jp" target="_blank">braineer</a>の開発時に技術的な困難にぶつかって長期間解決できなかった時が一番苦しかったです。<br/>
        弊社はまだまだ若い会社ですので、技術力不足は否めません。<br/>
        ですので、チームとして原因を追求して策を練ったり、Q&Aサイトを活用したり外部講師の方に聞いたりして問題解決に当たりました。<br/>
        困難は多いですが、それを乗り越えることで成長を実感できています。
      </p>

      <h3 class="c-modal__title">海外展開も進めていますが、今後どのような展開を考えているのでしょうか？</h3>
      <p class="c-modal__content">
        <a href="https://career.braineer.jp" target="_blank">braineer</a>のサービスをASEANを中心として展開し、IPOをしていきたいと考えています。<br/>
        弊社の目標の一つに"3年以内にITエンジニア求人案件掲載数No.1"というものがあります。<br/>
        よくNo.1とNo.2では天と地程の差があると言いますので、<br/>
        弊社では求人案件の掲載数でNo.1を取って、知名度、売上共に大きく引き上げてIPOし得るだけの結果を残していきたいと考えております。
      </p>

      <h3 class="c-modal__title">周りの人に「ここは誇れる！」というアイデンティティーの良い点は何でしょうか？</h3>
      <p class="c-modal__content">
        自分のやる気と結果次第でなんでもできるという点です。<br/>
        会社を動かすような大きな仕事ができたり、海外の経験ができたりといったことが若いうちから経験できる環境はなかなかないと思っています。
      </p>

      <h3 class="c-modal__title">これからアイデンティティーはどのように変わっていくと思いますか？</h3>
      <p class="c-modal__content">
        グローバル化していくと思います。<br/>
        現在もベトナム人が2人いますが、<br/>
        Skype等で海外支社の社員とのコミュニケーションも増えていき、<br/>
        社内公用語も英語に変わっていくのではないかと思います。
      </p>

      <div class="c-modal__layout">
        <div class="c-modal__layoutItem">
          <h3 class="c-modal__title">どのような人がアイデンティティーに合っていると思いますか？</h3>
          <p class="c-modal__content">
            素直な人だと思います。<br/>
            どんな会社でもそうですが、<br/>
            最初は固定概念を捨てて、なんでも吸収できる人が合うと思います。
          </p>
          <h3 class="c-modal__title">これからアイデンティティーに入っている方に一言お願いします。</h3>
          <p class="c-modal__content">
            一緒にアイデンティティーを盛り上げていきましょう！
          </p>
        </div>
        <div class="c-modal__layoutItem c-modal__layoutItem--descImg">
          <div class="c-modal__descImg">
            <img src="/identity_hp/public/images/interview_desc_05.jpg" alt="宇佐美剛">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- TRAN NGOC HIEU -->
  <div class="c-modal s-hidden"  id="interview_06">
    <div class="c-modal__head">
      <div class="c-modal__picture">
        <img src="/identity_hp/public/images/interview_06.jpg" alt="TRAN NGOC HIEU">
      </div>
      <button class="c-modal__btn c-btn c-btn--noShadow"><i class="fa fa-close"></i></button>
      <div class="c-modal__info">
        <span class="c-modal__occupation">Engineer</span>
        <div class="c-modal__name c-modal__name--long"><ruby>Tran<rt>チャン</rt></ruby>
        <ruby>Ngoc Hieu<rt>ゴク ヒュウ</rt></ruby></div>
        <p class="c-modal__year">2016年入社 エンジニア</p>
      </div>
    </div>
    <div class="c-modal__body">
      <h3 class="c-modal__title">何故アイデンティティーを選んだのですか？</h3>
      <p class="c-modal__content">
        メンバーが若く、アクティブであると感じ、自分の知識や能力を向上できると思い選びました。<br/>
        たくさんの才能ある面白い人たちと出会えて、いろいろなことを学んで、自分のスキルアップができると思っています。
      </p>

      <h3 class="c-modal__title">どのような仕事をされているのですか？</h3>
      <p class="c-modal__content">
        エンジニアとして、<a href="https://career.braineer.jp" target="_blank">braineer</a>というサービスの開発をしています。また、ベトナム会社とのブリッジSEもしています。
      </p>

      <h3 class="c-modal__title">入社〜現在までにどのような仕事をしてきましたか？</h3>
      <p class="c-modal__content">
        入社時から数ヶ月は、開発に必要なフレームワークのことを学びました。それから現在に至るまでは<a href="https://career.braineer.jp" target="_blank">braineer</a>の開発・保守を行っています。<br/>
        ベトナムと日本ではワークスタイルが違うので早く日本のワークスタイルに慣れるように頑張りました。
      </p>

      <h3 class="c-modal__title">仕事のやり甲斐は何でしょうか？</h3>
      <p class="c-modal__content">
        弊社で働くことが初めて日本のIT会社であるので、いろいろなことを考えていました。<br/>
        例えば、自分の担当する仕事の期限を守るし、どうすれば質・量も一番よくするし、日本語能力も大丈夫なのかと考えています。<br/>
        ですから、わからないことがあれば、ちゃんと調べて、もっと同僚に聞いて、学ぶようにしています。4ヶ月間で仕事にはだんだん慣れてきています。本当楽しくて、いろいろなことを教えてもらいました。<br/>
        それで、弊社での仕事は楽しいと思っているので、できる仕事は全部したいです。
      </p>

      <h3 class="c-modal__title">これまで一番嬉しかった事は何でしょうか？</h3>
      <p class="c-modal__content">
        エンジニアのメンバーと一緒にプロジェクトを終えた時です。リリース直前は忙しいですけど、その分プロジェクトを終えた時の感動は最高です。
      </p>

      <h3 class="c-modal__title">これまで一番苦しかった事は何でしょうか？</h3>
      <p class="c-modal__content">
        コミュニケーションがうまく伝わらない時です。<br/>
        今では、だいぶコミュニケーションもとれるようになってきたのですが、入社当初やミーティングの時はまだ、うまくコミュニケーションが取れずに苦労しています。<br/>
        もっとうまく日本語を話せるようになるために日々日本語の勉強を仲間と勉強しています。
      </p>

      <h3 class="c-modal__title">休日は何をしているのですか？</h3>
      <p class="c-modal__content">
        友人と自転車で出かけたり、料理をしています。
      </p>

      <h3 class="c-modal__title">将来の夢は何でしょうか？</h3>
      <p class="c-modal__content">
        アイデンティティーのエンジニアチームと一緒に世界で一番有名なサービスを作りたいです！
      </p>

      <h3 class="c-modal__title">周りの人に「ここは誇れる！」というアイデンティティーの良い点は何でしょうか？</h3>
      <p class="c-modal__content">
        若々しくて、アクティブで、皆がいつでも一緒に頑張っているという良い点です。
      </p>

      <h3 class="c-modal__title">どのような人がアイデンティティーに合っていると思いますか？</h3>
      <p class="c-modal__content">
        真面目で、頑張りやで親切な人だと思います。
      </p>

      <div class="c-modal__layout">
        <div class="c-modal__layoutItem">
          <h3 class="c-modal__title">これからアイデンティティーに入っている方に一言お願いします。</h3>
          <p class="c-modal__content">
            つまり、アイデンティティーがとってもよい環境で働けるということです！<br/>
          </p>
          <h3 class="c-modal__title">これからアイデンティティーに入っている方に一言お願いします。</h3>
          <p class="c-modal__content">
            つまり、アイデンティティーがとってもよい環境で働けるということです！<br/>
          </p>
        </div>
        <div class="c-modal__layoutItem c-modal__layoutItem--descImg">
          <div class="c-modal__descImg">
            <img src="/identity_hp/public/images/interview_desc_06.jpg" alt="TRAN NGOC HIEU">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 林大貴 -->
  <div class="c-modal s-hidden" id="interview_07">
    <div class="c-modal__head">
      <div class="c-modal__picture c-modal__picture--right">
        <img src="/identity_hp/public/images/interview_07.jpg" alt="林大貴">
      </div>
      <button class="c-modal__btn c-btn c-btn--noShadow"><i class="fa fa-close"></i></button>
      <div class="c-modal__info c-modal__info--left">
        <span class="c-modal__occupation">Special（Monkey）</span>
        <div class="c-modal__name">DAIKI HAYASHI</div>
        <p class="c-modal__year">2017年入社 営業</p>
      </div>
    </div>
    <div class="c-modal__body">
      <h3 class="c-modal__title">何故アイデンティティーを選んだのですか？</h3>
      <p class="c-modal__content">
        就活時、社会の波にのまれ自分を取り繕いそうになっていた時、フランクで非常に親しみの持てる今野と出会い、入社を決めました。今野の下で働けることを約束してくれたのが一番の理由ですね。1から自分で会社を作ってきたそのノウハウをかなりの高い基準で学べるのはまたとない機会だと思いました。
      </p>

      <h3 class="c-modal__title">どのような仕事をされているのですか？</h3>
      <p class="c-modal__content">
        <a href="https://career.braineer.jp" target="_blank">braineer</a>という弊社の新規サービスがあるのですが、そのクライアント開拓を行なっています。自分自身テレアポから訪問までの営業の基本をやりながら、営業の時間が終えたら全体の数字を見て、目標に向けて改善に改善を重ねています。毎日がハッピーデイです。
      </p>

      <h3 class="c-modal__title">休日は何をしているのですか？</h3>
      <p class="c-modal__content">
        休日も基本的に働いています笑<br/>
        やることを終えたら、自分の趣味である筋トレと読書に時間を費やしていますね。毎日がハッピーデイです。
      </p>

      <h3 class="c-modal__title">将来の夢は何でしょうか？</h3>
      <p class="c-modal__content">
        100名以上の日本そして世界を驚かせるような・おもしろくするような会社を作りたいです。元カノがほんとすごい子で、同い年なんですけど上場会社から4000万円も出資してもらい今社長をやっているんですよ。さすがに顔が立たないので、その元カノと切磋琢磨できる社長には最低でもなりたいですね。これは目標です。端的にまとめると毎日がハッピーデイですね。
      </p>

      <h3 class="c-modal__title">周りの人に「ここは誇れる！」というアイデンティティーの良い点は何でしょうか？</h3>
      <p class="c-modal__content">
        やはり若さたる元気ですね。いい意味でも悪い意味でも真っ新なのでほとんどの人が必死に何くそと働いています。まあでもそれがかなり楽しいんですよ。若いので自分の思っていること、考えていることなんて通用しないのが当たり前。その中でも今野や井上をはじめとする先輩方から学んだり、クライアントさんから学んだりと、非常に毎日がハッピーデイです。
      </p>

      <h3 class="c-modal__title">これからアイデンティティーはどのように変わっていくと思いますか？</h3>
      <p class="c-modal__content">
        かなりグローバルになるんじゃないかと。今でもベトナム人のエンジニアが2名開発部門にいますが、これからもっと海外展開をしていくので、様々な国籍に人たちが集う集団になると思いますよ！非常に楽しみ、つまりハッピーデイです。<br/>
      </p>

      <div class="c-modal__layout">
        <div class="c-modal__layoutItem">
          <h3 class="c-modal__title">どのような人がアイデンティティーに合っていると思いますか？</h3>
          <p class="c-modal__content">
            馬鹿になれる人です。何事も必死に、そして言われたことは黙って聞いて実行できる人。もちろん遊びもそうです笑 馬鹿みたいに騒いで遊びますから。僕はお猿さんと言われていますね、馬鹿になりすぎるので。。。ハッピモンキー。
          </p>
          <h3 class="c-modal__title">これからアイデンティティーに入っている方に一言お願いします。</h3>
          <p class="c-modal__content">
            毎日がハッピーデイ！！！
          </p>
        </div>
        <div class="c-modal__layoutItem c-modal__layoutItem--descImg">
          <div class="c-modal__descImg">
            <img src="/identity_hp/public/images/interview_desc_07.jpg" alt="林大貴">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 武藤雅和 -->
  <div class="c-modal s-hidden" id="interview_08">
    <div class="c-modal__head">
      <div class="c-modal__picture">
        <img src="/identity_hp/public/images/interview_08.jpg" alt="武藤雅和">
      </div>
      <button class="c-modal__btn c-btn c-btn--noShadow"><i class="fa fa-close"></i></button>
      <div class="c-modal__info">
        <span class="c-modal__occupation">Internship</span>
        <div class="c-modal__name">MASAKAZU MUTO</div>
        <p class="c-modal__year">学生 インターン</p>
      </div>
    </div>
    <div class="c-modal__body">
      <h3 class="c-modal__title">アイデンティティーはどのような事業をしている会社なのですか？</h3>
      <p class="c-modal__content">
        IT特化型の人材支援会社です。
      </p>

      <h3 class="c-modal__title">何故アイデンティティーでインターンをやろうと思ったのですか？</h3>
      <p class="c-modal__content">
        何もない自分がゼロから成長できる場所だと感じたから。
      </p>

      <h3 class="c-modal__title">どのような仕事をされているのですか？</h3>
      <p class="c-modal__content">
        インキュベーションセクションのリーダーとして、「<a href="http://conecre.jp/" target="_blank">コネクリ</a>」というサービスの事業成長に尽力しています。
      </p>

      <h3 class="c-modal__title">入社〜現在までにどのような仕事をしてきましたか？</h3>
      <p class="c-modal__content">
        代表直下で学生と企業のマッチングサービス「<a href="http://conecre.jp/" target="_blank">コネクリ</a>」の企画から開発、運用までを携わってきました。
      </p>

      <h3 class="c-modal__title">仕事のやり甲斐は何でしょうか？</h3>
      <p class="c-modal__content">
        どれだけ小さい目標でも達成をする時です。<br/>
        達成の積み重ねが事業の成長、そして会社としての成長に繋がっていると感じます。<br/>
        また、自身としても成功体験の積み重ねができ成長できると感じるからです。
      </p>

      <h3 class="c-modal__title">これまで一番嬉しかった事は何でしょうか？</h3>
      <p class="c-modal__content">
        自分を慕ってくれるメンバーと一緒に働けていることです。<br/>
        まだまだ未熟な自分に信頼をおいて共に成長できる、今の環境が嬉しいです。
      </p>

      <h3 class="c-modal__title">これまで一番苦しかった事は何でしょうか？</h3>
      <p class="c-modal__content">
        業務を行う中で自分と向き合う機会が増えて自分の中にある本質的な弱さ、課題感を感じた時です。<br/>
        自分を見つめ直す事ができる良い機会でもあったと感じています。
      </p>

      <h3 class="c-modal__title">将来の夢は何でしょうか？</h3>
      <p class="c-modal__content">
        社会に必要とされる人間になることです。<br/>それは、ビジネス観点だけでなく、個人の人との繋がりにおいても必要とされる人になりたいです。
      </p>

      <h3 class="c-modal__title">海外展開も進めていますが、今後どのような展開を考えているのでしょうか？</h3>
      <p class="c-modal__content">
        私が担当している「<a href="http://conecre.jp/" target="_blank">コネクリ</a>」に関して開発はベトナム支社のメンバーにまかせていくためよりベトナムとは仕事面、文化面でも理解を深めていきたいと思います。
      </p>

      <h3 class="c-modal__title">周りの人に「ここは誇れる！」というアイデンティティーの良い点は何でしょうか？</h3>
      <p class="c-modal__content">
        視聴できる環境が整っていることです。<br/>
        近年、インターンシップの中でも単純作業の業務を行うものが増えてきていると感じますが、アイデンティティーは全く違います。ここまで、裁量と責任をもって働ける長期インターンシップはないと思います。
      </p>

      <h3 class="c-modal__title">これからアイデンティティーはどのように変わっていくと思いますか？</h3>
      <p class="c-modal__content">
        国内でいうと、より多くの価値観を持った人が働き深みのある会社になっていくと思います。<br/>
        海外で言うと、ベトナム支社も設立し、今後はASEANに進出を考えているためグローバル化が加速すると思います。
      </p>

      <div class="c-modal__layout">
        <div class="c-modal__layoutItem">
          <h3 class="c-modal__title">どのような人がアイデンティティーに合っていると思いますか？</h3>
          <p class="c-modal__content">
            自分の軸を持っていて、かつ馬鹿になれる人です。<br/>
            自分の成長のために愚直に努力が出来て、馬鹿みたいに素直に与えられた仕事に取り組める人です。ただの馬鹿ではだめですけどね。
          </p>
          <h3 class="c-modal__title">これからアイデンティティーに入っている方に一言お願いします。</h3>
          <p class="c-modal__content">
            一緒に成長しましょう。
          </p>
        </div>
        <div class="c-modal__layoutItem c-modal__layoutItem--descImg">
          <div class="c-modal__descImg">
            <img src="/identity_hp/public/images/interview_desc_08.jpg" alt="武藤雅和">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- フッター -->
	<footer class="l-footer l-footer--recruit">
		<div class="l-footer__container">
			<div class="l-footer__sns">
				<a href="https://www.facebook.com/%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE%E3%82%A2%E3%82%A4%E3%83%87%E3%83%B3%E3%83%86%E3%82%A3%E3%83%86%E3%82%A3%E3%83%BC-208566559229653/" target="_blank">
					<i class="fa fa-facebook-square"></i>
				</a>
				<a href="https://www.instagram.com/identity.facebook/?hl=ja" target="_blank">
					<i class="fa fa-instagram"></i>
				</a>
				<a href="http://ameblo.jp/identitypr/" target="_blank">
					<img class="u-ameblo" src="/identity_hp/public/images/ameblo_white.png" alt="ameblo">
				</a>
			</div>
			<div class="l-footer__linkBox">
				<a href="/identity_hp/views/privacypolicy/" class="l-footer__link">
					<i class="l-footer__angle fa fa-angle-right"></i><span class="l-footer__linkTitle">個人情報の取扱いについて</span>
				</a>
				<a href="/identity_hp/views" class="l-footer__link c-link">
					<img src="/identity_hp/public/images/identity_white.png" alt="identity">
				</a>
			</div>
			<div class="l-footer__copyright">
				COPYRIGHT &copy;2017 identity.inc ALL RIGHTS RESERVED.
			</div>
		</div>
	</footer>
	<!-- トップにスクロールするボタン-->
	<button class="c-btnScrollTop"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
	<!-- Google Analytics -->
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." :"http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-5107803-1");
    pageTracker._initData();
    pageTracker._trackPageview();
  </script>
  <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
  <script type="text/javascript">
    _uacct="UA-xxxx-x";
    urchinTracker();
  </script>
	<!-- 黒いレイヤー -->
	<div class="c-layer c-layer--underLayer s-hidden"></div>
	<script src="/identity_hp/public/javascripts/script_recruit.js" type="text/javascript"></script>
</body>
</html>

